/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* RESET ENDS */

.intro-container {
    width: 100vw;
    min-height:100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(94deg, rgba(8, 5, 12, 0.623) 15%, rgba(9, 0, 15, 0.774) 89%), url('./images/spacebg.jpg');
    background-size: cover;
    box-sizing: border-box;
    border: 5px solid black;
    border-bottom: none;
}

.introContentWrap {
    width: 50vw;
    height: auto;
    display:flex;
    gap: 2vw;
}

.portrait {
    background-color: aliceblue;
    border-style: solid;
    border-radius: 50%;
    border-color: rgb(33, 4, 80);
    border-width: 2px;
    width: clamp(150px, 15vw, 250px);
    aspect-ratio: 1 / 1;
    overflow: hidden;
    box-sizing: border-box;
}

.portrait img {
    height:100%;
    width: 100%;
}

.introTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    color:white;
    flex: 1;
}

.introTextContainer h1 {
    font-size: clamp(1.5rem, 1.25vw, 2.5rem);
    text-align: center;
}

.introTextContainer h2 {
    font-size: clamp(1.3rem, 1.15vw, 2rem);
    text-align: center;
}

.about-section {
    background-color: black;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
    padding-bottom: 2vh;
    gap: 2vh;
}

.section-header {
    font-size: 2.5rem;
    text-align: center;
}

.about-wrapper {
    display:flex;
    justify-content: space-around;
    width: 60vw;
    min-height: 40vh;
    background-color: rgba(138, 138, 138, 0.541);
}

.about-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width:100%;
    box-sizing: border-box;
    padding: 1rem 1rem;
}

.divider {
    display:inline-block;
    border-left: 1px solid black;
    border-right: 1px solid black;
    align-self: center;
    height: 32vh;
}

.about-element-header {
    font-size: clamp(1.3rem, 1.15vw, 2rem);
    text-decoration: underline;
    margin-bottom: 2vh;
}

@media screen and (max-width: 680px) {
    .intro-container {
        min-height: 50vh;
    }

    .introContentWrap {
        flex-direction: column;
        align-items:center;
        justify-content: center;
        gap: 2vh;
    }

    .introTextContainer {
        gap:1.5vh;
    }

    .introTextContainer h1 {
        font-size: 1.5rem;
        text-align: center;
    }
    
    .introTextContainer h2 {
        font-size: 1.2rem;
        text-align: center;
    }
}